*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  color: #222222;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  padding: 2rem;
}
